* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 960px;
    margin: 0 auto;
    font-family: 'Spectral', serif;
   
}

header {
    height: 140px;
    position: absolute;
    top: 0;
    min-width: 960px;
}

.darken {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(255, 255, 255, 0)
      ),
      url(./images/sports.png);
  }

header h1 {
    color: white;
    margin-left: 2%;
    font-size: 35px;
}

header h2 {
    color: white;
    margin: 5px 2%;
    font-size: 30px;
}

main {
    position: absolute;
    top: 140px;
    min-width: 960px;
    color: black;
}


main ul {
    margin-left: 12%;
    font-size: 15px;
}


main h2{
    margin: 5px 0px;
}

hr {
    margin-top: 50px;
}

main h3 {
    margin-top: 40px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    min-width: 960px;
}

footer p {
    margin-top: 10px;
    color: white;
    padding: 10px;
}